<!DOCTYPE html>
<html>
 <head>
  <title><!--Template_Title--></title>
  <meta charset="UTF-8">
  <meta name="description" content="BaseDocumenter output">
  <meta name="keywords" content="BaseDocumenter,Access2Base">
  <meta name="author" content="Jean-Pierre Ledure">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./BD_Stylesheet.css">
 </head>
 <body>
  <div style="display: block; position: fixed; bottom: 5px; right: 5px;"><a href="#" title="Back to top"><img src="./top_of_page.png" height="48" width="48"></a></div>
  <table style="width: 100%">
   <caption></caption>
   <thead>
   </thead>
   <tfoot>
   </tfoot>
   <tbody>
    <tr>
     <td>
      <img src="./LibreOffice.png" alt="LibreOffice logo">
     </td>
     <td>
      <span class="templateheader" style="font-size: 1.4em;background: none;margin-left: 0%;"><a href="http://www.access2base.com/basedocumenter" target="_blank">BASEDOCUMENTER</a><br /><br />The software tool for documenting your LibreOffice Base applications<br />&nbsp;</span>
     </td>
    </tr>
   </tbody>
  </table>
   <div class="grid-item">
    %DBDATATABLE%
   </div>
 </body>
</html>
